.header {
  width: 100%;
  max-width: 1200px;   /* không bị bè */
  margin: 20px auto;   /* căn giữa */
  background: lightblue;
  height: 350px;

  border: 4px solid #1e90ff;
  border-radius: 16px; /* bo góc cho đẹp */
  overflow: hidden;    /* chống tràn */

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


.navbar {
  display: flex;
  align-items: center;      /* căn giữa theo chiều dọc */
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}


.nav-left img {
  width: 40px;
  height: 40px;
}

.nav-left p {
  margin: 0;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
 
}

.nav-menu li a {
  text-decoration: none;
  color: #000;
  font-weight:bold;
  display: inline-block; /*Mỗi <a> có 1 cái “hộp” riêng*/
  transition: 0.3s; 
}

.nav-menu a:hover{
	color:white;
	transform:scale(1.1);
}

.hero h1 {
	text-align:center;
	margin:50px;
	font-size:50px;
	font-weight:bold;
}

.hero {
	height:350px;

}



.about {
  background: #f5f5f5;
  padding: 50px 0;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 50px;
  align-items:center
}

/* bên trái */
.about-image {
  width: 35%;
  text-align: center;
}

.about-image img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.about-image h4 {
  margin-top: 12px;
  font-weight: bold;
}

.about-image p {
  font-size: 14px;
  color: #555;
}

/* bên phải */
.about-content {
  width: 65%;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

.career {
  background:  #f5f5f5;      /* nền xám nhạt */
  padding: 60px 20px;
  text-align: center;
}

.career h2 {
  color: lightblue;   /* xanh đậm, dễ đọc */
  font-weight: 700;         
  font-size: 36px;
  margin-bottom: 10px;
}

.career-desc {
  color: lightblue;
  font-weight:bold;
  font-size: 16px;
  margin-bottom: 40px;
}

/* khung trắng */
.career-box {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 30px 40px;
  text-align: left;
  border-radius: 4px;
}

.career-box h4 {
  margin-bottom: 20px;
}

.career-box ol {
  padding-left: 20px;
}

.career-box li {
  margin-bottom: 18px;
  line-height: 1.6;
}


.top-note {
  background: lightblue;      /* màu cam */
  color: #000;
  text-align: center;
  font-size: 14px;
  padding: 8px 10px;
  font-weight: 500;
}


.idea {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  background: #000;
  padding: 40px 60px;
  box-sizing: border-box;
}

.nen {
  width: 600px;
  height: 340px;
  background: #000;
  overflow: hidden;
  border-radius: 12px;
}

.nen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.text-right,
.text-left {
  width: 20%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-right h1,
.text-left h1 {
  font-size: 50px;
  line-height: 1.3;
 color:red;
}





body{
	margin:0;
	background: lightblue;
	

}