.header {
  width: 100%;
  max-width: 1200px;
  /* không bị bè */
  margin: 20px auto;
  /* căn giữa */
  background: lightblue;
  height: 350px;
  border: 4px solid #1e90ff;
  border-radius: 16px;
  /* bo góc */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding:10px 20px;
}

.nav-left {
  display: flex;
  align-items: center;/*Căn giữa theo chiều dọc*/
  gap: 10px;
}


.nav-left img {
  width: 40px;
  height: 40px;
}

.nav-left p {
  font-weight: bold;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;

}

.nav-menu  a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display:inline-block;
  transition: 0.3s;
}

.nav-menu a:hover {
 color: white;
 transform: scale(1.1);
}

.hero h1 {
  text-align: center;
  margin: 80px;
  font-size: 50px;
  font-weight: bold;
}



.about {
  background: #f5f5f5;
  padding: 50px 0;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 50px;
  align-items: center
}

/* bên trái */
.about-image {
  width: 50%;
  text-align: center;
}

.about-image img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.about-image h4 {
  margin-top: 20px;
  font-weight: bold;
}

.about-image p {
  font-size: 14px;
  color: #555;
}

/* bên phải */
.about-content {
  width: 65%;
  font-size: 20px;
  line-height: 1.8;
  color: #333;
  margin-bottom:80px;
}

.career {
  background: #f5f5f5;
  /* nền xám nhạt */
  padding: 60px 20px;
  text-align: center;
}

.career h2 {
  color: lightblue;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
}

.career-desc {
  color: lightblue;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;

}

/* khung trắng */
.career-box {
  max-width: 900px;
  margin:auto ;
  background: #fff;
  padding: 30px 40px;
  text-align: left;
  border-radius: 4px;
}

.career-box h4 {
  margin-bottom: 20px;
  text-align:center;
}


.career-box li {
  margin-bottom: 18px;
  line-height: 1.6;
}



.idea {
  max-width:1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding: 40px 60px;
}

.nen {
  width: 600px;
  height: 340px;
  background: #000;
  overflow: hidden;
  border-radius: 12px;
}

.nen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-right,
.text-left {
  width: 20%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-right h1,
.text-left h1 {
  font-size: 50px;
  line-height: 1.3;
  color: red;
}



.top-note {
  background: lightblue;
  /* màu cam */
  color: #000;
  text-align: center;
  font-size: 14px;
  padding: 8px 10px;
  font-weight: 500;
}




body {
  margin: 0;
  background: lightblue;


}